## Problem 2

In [9]:
import numpy as np
import pandas as pd
from scipy.stats import norm, t
from scipy.integrate import quad

In [4]:
def ew_cov_corr(df, lmbd, func='cov'):
    df -= df.mean(axis=0)
    m, n = df.shape
    wts = np.empty(m)
    for i in range(m):
        wts[i] = (1 - lmbd) * lmbd ** (m - i - 1)
        
    wts /= np.sum(wts)
    wts = wts.reshape(-1, 1)
    if func == 'cov':   
        res = (wts * df).T @ df
        
    elif func == 'corr':
        res = (wts * df).T @ df
        std_devs = np.sqrt(np.diag(res))
        res /= np.outer(std_devs, std_devs)
        
    return res


def var_ew(data, lmbd, alpha=0.05):
    mu = data.mean()
    ew_sigma2 = ew_cov_corr(data, lmbd, 'cov')
    VaR = -norm.ppf(alpha, mu, np.sqrt(ew_sigma2))[0, 0]
    
    VaR_diff = VaR + mu
    VaR_diff = VaR_diff[0]

    return pd.DataFrame({"VaR Absolute": [VaR], 
                         "VaR Diff from Mean": [VaR_diff]})

def es_ew(data, lmbd, alpha=0.05):
    mu = data.mean()
    
    std = np.sqrt(ew_cov_corr(data, lmbd, 'cov')).iloc[0, 0]
    data += mu
    
    res = var_ew(data, lmbd, alpha)
    VaR = res.iloc[0, 0]
    
    def integrand(x, mu, std):
        return x * norm.pdf(x, loc=mu, scale=std)
    
    ES, _ = quad(lambda x: integrand(x, mu, std), -np.inf, -VaR)
    ES /= -alpha
    
    ES_diff = ES + mu
    ES_diff = ES_diff[0]
    
    return pd.DataFrame({"ES Absolute": [ES], 
                         "ES Diff from Mean": [ES_diff]})

In [5]:
df = pd.read_csv('problem1.csv')
var_ew(df, 0.97, 0.05)

   VaR Absolute  VaR Diff from Mean
0      0.091169             0.09029

In [6]:
df = pd.read_csv('problem1.csv')
es_ew(df, 0.97, 0.05)

   ES Absolute  ES Diff from Mean
0     0.114107           0.113227

In [7]:
def fit_general_t(data):
    nu, mu, sigma = t.fit(data)
    return mu, sigma, nu

def var_t(data, alpha=0.05):
    mu, sigma, nu = fit_general_t(data)   
    VaR = -t.ppf(alpha, nu, mu, sigma)
    VaR_diff = VaR + mu
    
    return pd.DataFrame({"VaR Absolute": [VaR], 
                         "VaR Diff from Mean": [VaR_diff]})

def es_t(data, alpha=0.05):
    mu, sigma, nu = fit_general_t(data)
    res = var_t(data, alpha)
    VaR = res.iloc[0, 0]
    
    def integrand(x, mu, sigma, nu):
        return x * t.pdf(x, df=nu, loc=mu, scale=sigma)
    
    ES, _ = quad(lambda x: integrand(x, mu, sigma, nu), -np.inf, -VaR)
    ES /= -alpha
    ES_diff = ES + mu
    
    return pd.DataFrame({"ES Absolute": [ES], 
                         "ES Diff from Mean": [ES_diff]})

In [10]:
df = pd.read_csv('problem1.csv')
var_t(df, 0.05)

   VaR Absolute  VaR Diff from Mean
0      0.076476            0.076382

In [11]:
df = pd.read_csv('problem1.csv')
es_t(df, 0.05)

   ES Absolute  ES Diff from Mean
0     0.113218           0.113124

In [12]:
def historic(data, N=100000, alpha=0.05):
    np.random.seed(50)
    simulated_draws = np.random.choice(data.iloc[:,0], size=N, replace=True)
    mu = simulated_draws.mean()
    
    sorted_data = np.sort(simulated_draws)
    
    VaR_index = int(len(sorted_data) * 0.05)
    VaR = -sorted_data[VaR_index]

    VaR_diff = VaR + mu
    
    ES = -sorted_data[sorted_data <= -VaR].mean()
    ES_diff = ES + mu
    
    
    return pd.DataFrame({"VaR Absolute": [VaR], 
                         "VaR Diff from Mean": [VaR_diff],
                         "ES Absolute": [ES], 
                         "ES Diff from Mean": [ES_diff]})

In [13]:
df = pd.read_csv('problem1.csv')
historic(df)

   VaR Absolute  VaR Diff from Mean  ES Absolute  ES Diff from Mean
0      0.075862            0.074978     0.115348           0.114465

## Problem 3

In [34]:
from MyLib.calc_returns import return_calculate
from MyLib.copula import simulateCopula

In [52]:
prices = pd.read_csv('DailyPrices.csv')
returns = return_calculate(prices)
returns -= returns.mean(numeric_only=True)

returns = returns.copy()
returns = returns.drop('Date', axis=1)
returns.head()

,SPY,AAPL,MSFT,AMZN,NVDA,GOOGL,TSLA,GOOG,BRK-B,META,...,CI,ETN,SLB,PGR,SCHW,LRCX,ZTS,C,BSX,AMT
0,-0.010992,-0.014177,-0.017632,-0.002763,-0.025527,-0.018099,-0.025331,-0.017797,-0.017836,-0.033266,...,-0.001401,-0.012419,0.030937,-0.011172,-0.018637,-0.006037,-0.015836,0.002191,-0.013291,-0.024982
1,-0.004221,-0.008781,-0.011940,-0.011317,-0.018055,-0.010519,0.015325,-0.011924,-0.004872,-0.013890,...,-0.004862,0.006623,-0.016289,-0.000172,0.002453,-0.009821,-0.001483,-0.012350,-0.003810,0.014647
2,0.017517,0.008688,0.018146,0.026385,0.014076,0.023841,0.033561,0.027030,0.015107,0.008882,...,0.016431,0.018469,-0.010200,0.037793,0.019336,0.010477,0.022107,0.008847,0.025901,0.022302
3,0.006088,-0.010184,0.000700,0.002288,0.015407,-0.010652,0.019343,-0.010477,0.007202,0.007625,...,0.002228,0.012119,0.027781,0.015137,0.019688,0.014773,-0.012499,0.026460,0.028808,0.009735
4,0.015087,0.018274,0.022011,0.026238,0.023659,0.020069,0.035767,0.020686,0.007594,0.040962,...,0.007106,0.015418,0.036603,-0.004923,0.019468,0.024658,0.036130,0.015775,0.004292,0.001067

In [53]:
portfolio = pd.read_csv('portfolio.csv')
for stock in portfolio["Stock"]:
    portfolio.loc[portfolio['Stock'] == stock, 'Starting Price'] = prices.iloc[-1][stock]

portfolio.loc[portfolio['Portfolio'].isin(['A', 'B']), 'Distribution'] = 'T'
portfolio.loc[portfolio['Portfolio'] == 'C', 'Distribution'] = 'Normal'
print(portfolio.head())

  Portfolio  Stock  Holding  Starting Price Distribution
0         A   AAPL      158      174.789993            T
1         A   MSFT      178      317.010010            T
2         A   AMZN      110      129.119995            T
3         A   NVDA       54      416.100006            T
4         A  GOOGL       69      130.250000            T

In [62]:
portfolio_A = portfolio[portfolio['Portfolio'] == 'A'].copy()
portfolio_A = portfolio_A.drop('Portfolio', axis=1)
portfolio_B = portfolio[portfolio['Portfolio'] == 'B'].copy()
portfolio_B = portfolio_B.drop('Portfolio', axis=1)
portfolio_C = portfolio[portfolio['Portfolio'] == 'C'].copy()
portfolio_C = portfolio_C.drop('Portfolio', axis=1)

stocks_in_A = portfolio_A['Stock'].tolist()
returns_A = returns[stocks_in_A]
stocks_in_B = portfolio_B['Stock'].tolist()
returns_B = returns[stocks_in_B]
stocks_in_C = portfolio_C['Stock'].tolist()
returns_C = returns[stocks_in_C]

print(portfolio_A.shape)
print(returns_A.shape)

(33, 4)
(265, 33)

In [64]:
risk_A = simulateCopula(portfolio_A, returns_A)
print('Portfolio A:')
print(risk_A)
risk_B = simulateCopula(portfolio_B, returns_B)
print('Portfolio B:')
print(risk_B)
risk_C = simulateCopula(portfolio_C, returns_C)
print('Portfolio C:')
print(risk_C)

Portfolio A:
    Stock         VaR95          ES95 VaR95_Pct  ES95_Pct
0    AAPL    792.713124   1181.931658  0.028704  0.042798
1    MSFT   1803.175697   2593.308164  0.031955  0.045958
2    AMZN     568.75292     804.57343  0.040044  0.056647
3    NVDA   1227.382946   1816.302882  0.054625  0.080835
4   GOOGL    312.537014    446.887381  0.034776  0.049725
5    TSLA    917.710206   1259.783238   0.06246  0.085742
6    GOOG    764.421581   1095.374824  0.034875  0.049974
7   BRK-B   1241.494663   1779.169354  0.018633  0.026702
8    META   1142.776572   1926.806952  0.045488  0.076696
9     UNH    679.367697   1002.005397  0.022006  0.032457
10    XOM    215.176229    290.745726  0.027531  0.037199
11    LLY   2710.479492   4140.870154   0.02474  0.037796
12    JPM     546.26526     829.77498    0.0245  0.037215
13    JNJ    192.400409     293.27496  0.015369  0.023426
14      V    268.252625    394.148696  0.020377   0.02994
15     PG    179.024518    246.732755  0.016179  0.022298
16     MA   1458.166263   2098.615269  0.021971  0.031622
17   AVGO    4039.23198   5866.475631  0.034553  0.050184
18     HD   1322.651691   1916.165081  0.025152  0.036439
19    CVX    576.286305    838.187523  0.024934  0.036265
20    MRK    122.842251    166.992378  0.019917  0.027075
21   ABBV     205.72037    293.041621  0.019807  0.028214
22   COST    2222.81688   3397.963247  0.021745  0.033241
23    PEP      476.9816    674.004791  0.016008  0.022621
24   ADBE   2956.258749   4365.963531  0.037427  0.055275
25    WMT    209.833714     299.38813   0.01636  0.023343
26     KO     66.950329     94.077795  0.014713  0.020675
27   CSCO    202.283604    294.350393  0.022082  0.032133
28    CRM     938.86573   1348.693894  0.035812  0.051444
29    MCD    266.679712    368.457879   0.01555  0.021485
30    ACN    504.997714    719.668073  0.027546  0.039255
31    BAC     56.020845     80.668577  0.028954  0.041693
32    TMO   1243.296899   1702.362525  0.026306  0.036019
33  Total  21525.729514  29143.438947  0.019761  0.026754
Portfolio B:
    Stock         VaR95          ES95 VaR95_Pct  ES95_Pct
0   CMCSA     63.349402     91.720573  0.026893  0.038937
1     PFE     64.255995     91.715272   0.02184  0.031173
2     LIN    807.984386   1247.298586  0.022805  0.035204
3    ORCL    331.448568    487.705988  0.026902  0.039585
4     ABT    236.095715    328.315825  0.022068  0.030688
5    NFLX     1113.7266   1707.745129  0.045818  0.070255
6     DHR    485.630758    705.668788  0.027157  0.039461
7     AMD    377.613716    559.848602  0.050324  0.074611
8     WFC    191.941705    267.911168  0.028915   0.04036
9     DIS    464.737699    674.194616  0.032499  0.047146
10     PM    173.209996     237.52678   0.01843  0.025274
11    TXN    782.686658   1042.797088  0.027124  0.036138
12   INTC    115.484793    157.177249  0.041204  0.056079
13   AMGN    376.196181    586.031443  0.023422  0.036486
14    COP    451.055473      658.8802  0.033797  0.049369
15   INTU   1257.492307   1773.798276  0.036362  0.051291
16     VZ     144.86252    211.728055  0.021764   0.03181
17    CAT   1055.597519   1483.872793  0.029968  0.042126
18    NEE    113.266052    164.000372  0.024247  0.035108
19    IBM    186.937566    274.538038  0.018713  0.027482
20    UNP    273.960689    413.104525  0.024704  0.037251
21    HON    638.352566    892.754472   0.02051  0.028684
22    BMY    184.896425    253.120606  0.019259  0.026365
23    LOW     911.55315   1326.332965   0.02794  0.040653
24     GE    203.565961    278.061676  0.027724   0.03787
25   SPGI   1114.758306   1538.770217  0.025417  0.035084
26   QCOM    775.119166   1073.280743  0.037105  0.051378
27   AMAT    295.334075    408.419881  0.040164  0.055543
28     BA   1069.869212   1669.970057   0.03202   0.04998
29    UPS    737.261249   1041.885096  0.025366  0.035847
30    NKE    404.688755    631.984186  0.031592  0.049336
31    NOW   1484.418718   2196.547448  0.039397  0.058298
32      T     44.401587     69.607749   0.02576  0.040383
33  Total  11948.326913  16355.882768  0.020796  0.028468
Portfolio C:
    Stock         VaR95          ES95 VaR95_Pct  ES95_Pct
0      GS    442.311372     554.18135  0.025942  0.032503
1    BKNG  12467.650276  15640.565863  0.031076  0.038985
2      MS    307.974617    379.437169  0.027594  0.033997
3     MDT    208.495249    261.553697  0.025218  0.031635
4    SBUX    439.140727    548.410667  0.027413  0.034234
5     ELV   1553.575883   1936.106504  0.027578  0.034368
6     PLD    530.159186    664.115471  0.029603  0.037083
7     RTX     350.93165    445.078807  0.025402  0.032217
8      DE     639.97614    811.926002   0.02848  0.036132
9     TJX    320.598398    404.537323  0.021277  0.026847
10   ISRG    688.551324    853.547633  0.035134  0.043554
11    ADP    856.846079   1073.274593  0.023096   0.02893
12    MMC    347.531307    436.767799  0.021161  0.026595
13   MDLZ    170.590066    213.198301  0.018489  0.023108
14    SYK   1463.465516   1836.280972  0.027142  0.034057
15    BLK   1695.902682   2147.255809  0.030954  0.039192
16   GILD    333.528942    416.778444  0.025408   0.03175
17    LMT    723.205587    913.678178  0.021854   0.02761
18    CVS    216.889701    271.735499  0.026976  0.033798
19   VRTX   1644.870188   2073.113341  0.026587  0.033509
20    AXP    524.393307    655.860934  0.030861  0.038598
21   REGN   4768.448452   5946.124235  0.033417  0.041669
22     CB    924.801042   1172.724566  0.022843  0.028967
23    ADI     735.12568    929.959246  0.030357  0.038402
24     CI   1206.288753   1514.450084  0.026212  0.032908
25    ETN    570.834938    714.167223  0.027961  0.034982
26    SLB    419.009445    520.593442  0.041023  0.050969
27    PGR    786.242796    993.909632  0.031542  0.039872
28   SCHW    364.815945    457.065594  0.041867  0.052454
29   LRCX   5414.247373   6753.538059  0.045078  0.056229
30    ZTS    660.584241    831.031068    0.0309  0.038873
31      C     98.543049    122.611016  0.029014  0.036101
32    BSX    220.418276    272.724697  0.021874  0.027065
33    AMT    341.394411    431.476119  0.030206  0.038176
34  Total   28543.22415  35890.679842  0.020573  0.025869